.div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button{
    padding-left: 20px;
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(207, 204, 204);
    cursor: pointer;
    color:white;
}